<h1>Listing heads</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @heads.each do |head| %>
  <tr>
    <td><%= head.name %></td>
    <td><%= image_tag head.photo.url %></td>
    <td><%= link_to 'Show', head %></td>
    <td><%= link_to 'Edit', edit_head_path(head) %></td>
    <td><%= link_to 'Destroy', head, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Head', new_head_path %>
